<div class="container">
    <div class="input-group">
        <div class="form-outline">
            <input placeholder="Enter any Website URL (Eg. https:www//imdb.com)" #searchURL type="search" id="form1"
                value="https://www.bookmyshow.com" class="form-control" />
        </div>
        <button (click)="onSearch(searchURL)" type="button" class=" btn btn-primary">
            <svg style="vertical-align: baseline;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>
    </div>



    <div class="selections">
        <span class="chip " *ngFor="let type of contentTypes" [class.selected]="content === type"
            (click)="clicked = (content === type ? null :type)" (click)="onContentFetch(type , searchURL.value)">
            {{type}}
        </span>


    </div>


    <div *ngFor="let image of imageContent">
        <div class="card" style="max-width: 18rem; float: left;">
            <img class="card-img-top rounded " src="{{image.source}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{image.label || 'No Label'}}</h5>
                <a target="_blank" href="{{image.source}}" class="btn btn-primary m-2">Visit Image</a>
                <a target="_blank" href="{{URL}}" class="btn btn-primary m-2">Visit Page</a>
            </div>
        </div>
    </div>


    <!-- audio content  -->

    <div *ngFor="let audio of audioContent; let i=index">
        <div class="card" style="max-width: 18rem; float: left;">
            <img class="card-img-top rounded audio-image " src="../../assets//music.png" alt="Card image cap">
            <div class="card-body">
                <audio controls style="width: 258px;">
                    <source src="{{audio.source}}">
                    Your browser does not support the audio element.
                </audio>
                <table>
                    <thead>
                        <tr>

                            <th scope="col">ClassName</th>
                            <th scope="col">Preload</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="no-wrap pull-left"> {{audio.className}}</td>
                            <td class="no-wrap float-end"> {{audio.preload}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Meta data  -->

    <table *ngIf="metaTagLinks" class="table table-bordered table-striped table-responsive"
        style="max-width: 60%; margin: 0 auto;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tag Type</th>
                <th scope="col">Value</th>
                <th scope="col">Content</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tag of metaTagLinks; let i=index">
                <th scope="row">{{i+1}}</th>
                <td class="no-wrap">{{tag?.name!='' ? 'name' : 'Property'}}</td>
                <td class="no-wrap">{{tag?.name }}</td>
                <td class="word-wrap">{{tag?.content}}</td>
            </tr>
        </tbody>
    </table>


    <!-- sitemap -->

    <div class="sitemap-container">
        <div id="tree" class="hierarchy-container d3-chart container tree" #chart4>
            <button style="margin: 1% auto; display:flex" class="btn btn-primary center"
                (click)="renderTreeChart(); loading=false">Force Render</button>

            <div *ngIf="loading" class="lds-facebook">

                <div></div>
                <div></div>
                <div></div>
                <h6>Constructing Domain Tree..</h6>
            </div>
        </div>
    </div>

    <ng-container [ngSwitch]="">
        <ng-container *ngSwitchCase="'a'">Code A</ng-container>
    </ng-container>


</div>